#Data dir
.vscode/*
api/db_files/*
api/db/data/*/*.xml
api/db/data/pp18-data/BUNDESTAGSDOKUMENTE.dtd
tmp/*.json

#Compiled files
*/env/*
*.pyc
*_tmp.json

#Secrets
.env
api/.vscode/settings.json

#Project files
*/.vscode/**
openRepscode-workspace.code-workspace
