#Data dir
.vscode/*
db_files/*
db/data/*/*.xml
db/data/pp18-data/BUNDESTAGSDOKUMENTE.dtd
tmp/*.json

#Compiled files
env/*
*.pyc
*_tmp.json

#Secrets
.env
.vscode/settings.json

#Project files
*/.vscode/**
openRepscode-workspace.code-workspace
openMP.log
